

.banniere {
    background-image: url(/sass/ressources\ Ducsman/);
    background-size: cover;
    filter: brightness(60%);
    width: 80%;
    float: right;
    padding: 400px 580px 300px;
    text-align: center;
}


.bloc {
    border: 2px solid black;
    width: 80%;
    float: right;
}


.art1 {
    display: flex;
    border: 2px solid rgb(5, 5, 5);
    width: 50vw;
}

.Présentation {
    background-color: red;
    border: 2px solid red;
    width: 70vw;
    padding: 1%;
}

.Liste {
    background-color: rgb(47, 214, 55);
    border: 2px solid rgb(47, 214, 55);
    width: 20%;
    padding: 4%;
}




.check {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    width: 37.8%;
}

li {
    list-style: none;
}

.Check-in {
    background-color: brown;
    border: 2px solid brown;
    padding-right: 20%;
}

.Check-out {
    background-color: violet;
    border: 2px solid violet;
    padding-right: 20%;
}




.infos {
    background-color: rgb(212, 168, 168);
    border: 2px solid black;
    width: 50vw;
}




.infos1 {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    width: 50.5%;
}

.a_propos {
    background-color: rgb(61, 115, 146);
    border: 2px solid rgb(61, 115, 146);
    width: 50%;
    padding-right: 12%;
}

.Contact {
    text-align: center;
    background-color: rgb(128, 83, 0);
    border: 2px solid rgb(128, 83, 0);
    width: 25%;
}