

.banniere {
    background-image: url();
    background-size: cover;
    filter: brightness(60%);
    width: 80%;
    float: right;
    padding: 400px 580px 300px;
    text-align: center;
}


.bloc {
    width: 80%;
    float: right; 
}


.art1 {
    display: flex;

}

.Présentation {
    padding-top: 1%;
    padding-left: 6%;
    padding-bottom: 1%;
    margin-right: 10%;
    text-align: justify;
}

.Liste {
    width: 45%;
    padding-top: 1%;
    padding-right: 10%;
    padding-left: 5%;
    margin-right: 10%;
    margin-top: 2%;
}




.check {
    display: flex;
    width: 70%;
}

li {
    list-style: none;
}

.Check-in {
    padding-right: 25%;
    padding-left: 10%;
    padding-top: 1%;
}

.Check-out {
    padding-right: 20%;
    padding-top: 1%;
}




.infos {
    width: 52%;
    padding-left: 6%;
    padding-top: 3%;
}



.color {
    color: #d99c52;
}

span {
    color: white;
}


.bouton {
    margin-top: 2%;
}

input{
    padding: 1%;
}