footer{
  text-align: center;
  background-color: $background_1;
}

body {
  color: $color_1;
  background-color: $background_2;
  font-family: Montserrat;

}


#mail_title{
  margin-left: 6% ;

}

// [ class*="flaticon" ] {

//   font-size: 5em;
//   margin: 0.5em;
// }


.class_titre {

  font-family: Playfair;
  font-size: xx-large;
  font-weight: 600;
}

/*agrandissement des icônes */

.new-taille{
  font-size: x-large;
}

/*class : couleur*/

.doré{

  color: $color_2;
  font-family: Montserrat;
}

/*partie gauche*/
.contact{

  display: flex;
}

/*partie gauche*/

#one{
  margin-top: 2%;
  margin-right: 13%;
  margin-left: 10%;
  font-family: Roboto;
}


/*Map*/

iframe{

  width: 1270px;
  height: 450px;
  filter: grayscale(100);
  object-position: bottom;
  margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 10%;
}

/*Partie du bas*/

#bas-de-page {
  display: flex;
}


#a-propos {
  width: 50%;
  margin-right: 15%;
  margin-left: 10%;
  margin-bottom: 10%;
  font-family: Roboto;
}

.infos_sup{

margin-bottom: 10%;
margin-left: -5%;


}

.logos {
  display: flex;
}


#téléphone_infos{


  margin-top: 2%;
}

#mail{

margin-top: 2%;

}

/*Souligner l'adresse mail*/
#mail_2{

  text-decoration: underline $color_2;
  
}

// /*header*/

//  .sidebar {
//   width: 200px;
//   background-color: $background_1;
//   height: 100vh;
//   position: fixed;
//   top: 0;
//   left: 0; /* Correction de la position */
//   padding: 20px;
//   z-index: 2; /* Assure que la sidebar est au-dessus du header */
//   display: flex;
//   justify-content: space-between; /* Aligne la navigation à droite */
//   flex-direction: column;
// }

// .sidebar nav {
//    padding-right: 20px; /* Déplace la liste de navigation un peu plus à droite */
// }

// .sidebar nav ul {
//   list-style: none;
//   padding: 0;
// }

// .sidebar nav ul li {
//   margin: 20px 0;
// }

// .sidebar nav ul li a {
//   color: $color_1;
//   text-decoration: none;
//   font-size: 20px;
//    transition: color 0.3s; /* Ajoute une transition pour la couleur */
// }

// .sidebar nav ul li a:hover {
//    color: var(--hover-color); /* Change la couleur au survol */
// }

// header nav ul li {
//   margin: 0 15px;
// }

// header nav ul li a {
//   color: $color_1;
//   text-decoration: none;
// }

// 


@media screen  and (max-width: 780px) {
  

#one {

max-width: 20%;

}


iframe{

width: 800px;
height: 700px;

}

}
