body

{color: $color_1;
background-color: $background_2;
margin-left: 20%;
}

p{

font-family: Roboto;

}

@font-face {
  font-family: Roboto;
  font-size: medium;
  font-weight: 100;
  src: url(/Roboto/Roboto-Light.ttf)
}


@font-face {
  font-family:Merriweather ;
  font-size: small;
  font-weight: 100;
  src: url(/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
  font-family: Playfair;
  font-size: medium;
  font-weight: 100;
  src: url(/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}


footer{
  width: 900px;
padding: 2%;
display: inline-block;
background-color: $background_1;
}

.doré{

  color: $color_2;
}

#adresse{
  display: flexbox;
  flex-direction: row;
  flex-flow: column wrap;
}

#Rue {

  flex-flow: column wrap;
}

span{
color: $color_1;
}


.contact{

margin-left: 15%;

}


#one{
display: flexbox;
float: left;
}

/*formulaire*/

#Nom{
  margin-right: 10%;
}

#Numéro{

  margin-right: 10%;

}


#two
{
float: right;
  display: flexbox;
  margin-right: 0 -10 ;
}





input{
background-color: $background_2 ;
border-bottom-style:ridge;
border-left: none;
border-right: none;
border-top: none;
padding: 1%;
margin-top: 4%;
margin-bottom: 4%;
}

textarea{

background-color:$background_2;
border-bottom-style:ridge;
border-left: none;
border-right: none;
border-top: none;
margin-top: 4%;
}


#bouton{

  align-self: self-end;
color: $color_1;
background-color: rgb(172, 144, 104);
padding: 2%;

}

section{

margin: 2%;

}

/*map*/

iframe{

filter: grayscale(100);
margin-left: 2%;
margin-right: 2%;
object-position: bottom;
}

#bas-de-page{

  display: flexbox;
  
}

#a-propos{
  text-align: justify;
display: flexbox;
float: left;
margin-right: 2%;
}


.infos_sup{

float: right;

}

#mail_2{

text-decoration: underline $color_2;

}

.logos{

width: 80vw;

}

/*header*/

.sidebar {
  width: 200px;
  background-color: $background_1;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; /* Correction de la position */
  padding: 20px;
  z-index: 2; /* Assure que la sidebar est au-dessus du header */
  display: flex;
  justify-content: space-between; /* Aligne la navigation à droite */
  flex-direction: column;
}

.sidebar nav {
  padding-right: 20px; /* Déplace la liste de navigation un peu plus à droite */
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s; /* Ajoute une transition pour la couleur */
}

.sidebar nav ul li a:hover {
  color: var(--hover-color); /* Change la couleur au survol */
}

header nav ul li {
  margin: 0 15px;
}
header nav ul li a {
  color: $color_1;
  text-decoration: none;

}

@media screen {
  
}