@import 'abstracts/fonctions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';
@import 'abstracts/variables';


@import 'vendors/bootstrap';

@import 'base/reset';
@import 'base/typography';

@import 'layout/footer';
@import 'layout/forms';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/sidebar';

@import 'components/buttons';
@import 'components/carousel';
@import 'components/cover';
@import 'components/dropdown';

@import 'pages/a_propos';
@import 'pages/contact';
@import 'pages/home';

@import 'themes/admin';
@import 'themes/theme';