@charset "UTF-8";
@font-face {
  font-family: Sedan;
  src: url(/Sedan/Sedan-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: Merriweather;
  src: url(/Merriweather/Merriweather-Bold.ttf);
}
@font-face {
  font-family: Playfair;
  src: url(/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
body {
  color: white;
  background-color: rgb(24, 24, 24);
  margin-left: 23%;
  margin-right: 18%;
}

footer {
  margin-left: -11.5%;
  margin-right: -30%;
  margin-top: 10%;
  padding: 1%;
  background-color: black;
}

/*agrandissement des icônes */
.new-taille {
  font-size: x-large;
}

/*class : couleur*/
.doré {
  color: rgb(165, 135, 0);
}

/*partie gauche*/
.contact {
  display: flex;
}

#one {
  margin-right: 25%;
}

/*formulaire (partie droite)*/
#two {
  float: right;
  margin-left: -5%;
}

#Nom {
  margin-right: 10%;
}

#Numéro {
  margin-right: 10%;
}

#adresse {
  display: flex;
}

input {
  background-color: rgb(24, 24, 24);
  border-bottom-style: ridge;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 1%;
  margin-top: 6%;
  margin-bottom: 6%;
}

textarea {
  background-color: rgb(24, 24, 24);
  border-bottom-style: ridge;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 6%;
}

#bouton {
  color: white;
  background-color: rgb(172, 144, 104);
  font-family: Roboto;
  font-size: x-small;
  text-transform: uppercase;
  font-weight: 700;
  padding: 3%;
}

/*Map*/
iframe {
  filter: grayscale(100);
  -o-object-position: bottom;
     object-position: bottom;
  margin-bottom: 10%;
  margin-top: 10%;
}

/*Partie du bas*/
#bas-de-page {
  display: flex;
}

#a-propos {
  width: 50%;
  margin-right: 15%;
}

.logos {
  display: flex;
  justify-content: space-around;
  margin-left: -1%;
}

/*Souligner l'adresse mail*/
#mail_2 {
  -webkit-text-decoration: underline rgb(165, 135, 0);
          text-decoration: underline rgb(165, 135, 0);
}

/*header*/
.sidebar {
  width: 200px;
  background-color: black;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; /* Correction de la position */
  padding: 20px;
  z-index: 2; /* Assure que la sidebar est au-dessus du header */
  display: flex;
  justify-content: space-between; /* Aligne la navigation à droite */
  flex-direction: column;
}

.sidebar nav {
  padding-right: 20px; /* Déplace la liste de navigation un peu plus à droite */
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s; /* Ajoute une transition pour la couleur */
}

.sidebar nav ul li a:hover {
  color: var(--hover-color); /* Change la couleur au survol */
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

@media screen and (height > 600px) {
  iframe {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */