@font-face {
  font-family:Sedan;
  src: url(/Sedan/Sedan-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(/Roboto/Roboto-Light.ttf)
}


@font-face {
  font-family:Merriweather ;
  src: url(/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
  font-family: Playfair;
  src: url(/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}


p{

font-family: Roboto;

}