
.clear_button {
  @include button;
  @include clear_button;
}

.pivot {
  transform: $pivot;
}

#bouton_envoyer {
  color: $color_1;
  background-color: rgb(172, 144, 104);
  font-family: Roboto;
  font-size: x-small;
  text-transform: uppercase;
  font-weight: 700;
  padding: 3%}