// $color_1 : white;
// $color_2 : rgb(165, 135, 0);
// $background_1: black;
// $background_2: rgb(24, 24, 24);
$color_1: white;
$color_2: #d99c52;
$color_3: #ba6e2b;
$color_4: #717171;
$background_1: #1b1b1b;
$background_2: #222222;
$background_accueil: url(../ressources_ducsman/images/slider/Slider_1.jpg);
$background_deluxe: url(../ressources_ducsman/images/slider/Slider_2.jpg);
$pivot: rotate(-90deg);
